peta json esta un archvo donde estan todo slos id {
  "openapi": "3.1.0",
  "info": {
    "version": "2.0",
    "title": "Sports Game Odds API",
    "description": "Here you'll find the REST API reference documentation for the SportsGameOdds API.",
    "contact": {
      "name": "Sports Game Odds Support",
      "email": "api@sportsgameodds.com"
    },
    "termsOfService": "https://sportsgameodds.com/terms"
  },
  "servers": [
    {
      "url": "https://api.sportsgameodds.com/v2",
      "description": "SportsGameOdds Server"
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Get info about Events (includes odds, results, teams, and other metadata)"
    },
    {
      "name": "Teams",
      "description": "Get Team-related data"
    },
    {
      "name": "Players",
      "description": "Get Player-related data"
    },
    {
      "name": "Sports",
      "description": "Get Sport-related data"
    },
    {
      "name": "Leagues",
      "description": "Get League-related data"
    },
    {
      "name": "Stats",
      "description": "Get data on specific Stats"
    },
    {
      "name": "Account",
      "description": "Get data related to your Account & API key"
    }
  ],
  "paths": {
    "/events/": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "Get a list of Events",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "eventID",
            "in": "query",
            "required": false,
            "example": "mXCZTRJnbX8ib64z1h3D",
            "description": "An eventID or comma-separated list of eventIDs to get Event data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sportID",
            "in": "query",
            "required": false,
            "example": "BASKETBALL",
            "description": "A sportID or comma-separated list of sportIDs to get Events for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leagueID",
            "in": "query",
            "required": false,
            "example": "NBA",
            "description": "A leagueID or comma-separated list of leagueIDs to get Events for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "example": "match",
            "description": "Only include Events of the specified type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oddsAvailable",
            "in": "query",
            "required": false,
            "example": "true",
            "description": "Whether you want only Events which do (true) or do not (false) have odds markets which are currently available (open for wagering)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "oddsPresent",
            "in": "query",
            "required": false,
            "example": "true",
            "description": "Whether you want only Events which do (true) or do not (false) have any associated odds markets regardless of whether those odds markets are currently available (open for wagering)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "oddID",
            "in": "query",
            "required": false,
            "example": "points-home-game-ml-home,points-home-game-sp-home",
            "description": "An oddID or comma-separated list of oddIDs to include odds for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOpposingOdds",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Whether to include opposing odds for each included oddID",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeAltLines",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Whether to include alternate lines in the odds byBookmaker data",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "bookmakerID",
            "in": "query",
            "required": false,
            "example": "draftkings,betmgm",
            "description": "A bookmakerID or comma-separated list of bookmakerIDs to include odds for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamID",
            "in": "query",
            "required": false,
            "example": "lal,bos",
            "description": "A teamID or comma-separated list of teamIDs to include Events for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playerID",
            "in": "query",
            "required": false,
            "example": "lebron,giannis",
            "description": "A playerID or comma-separated list of playerIDs to include Events (and associated odds) for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finalized",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Only include finalized Events (true), exclude unfinalized Events (false) or all Events (omit)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Only include live Events (true), only non-live Events (false) or all Events (omit)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "started",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Only include Events which have have previously started (true), only Events which have not previously started (false) or all Events (omit)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ended",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Only include Events which have have ended (true), only Events which have not ended (false) or all Events (omit)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cancelled",
            "in": "query",
            "required": false,
            "example": true,
            "description": "Only include cancelled Events (true), only non-cancelled Events (false) or all Events (omit)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "startsAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "example": "2024-01-01T00:00:00Z",
            "description": "Get Events that start after this date",
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "startsBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "example": "2024-01-01T00:00:00Z",
            "description": "Get Events that start before this date",
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": "30",
            "description": "The maximum number of Events to return",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "example": "n.1720564800000.DCtqsAt8d0GIFAvMmfzD",
            "description": "The cursor for the request. Used to get the next group of Events. This should be the nextCursor from the prior response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "data": [
                    {
                      "$ref": "#/components/schemas/Event"
                    }
                  ],
                  "nextCursor": {
                    "$ref": "#/components/schemas/NextCursor"
                  },
                  "success": true
                },
                "examples": {
                  "EventsExample-Future": {
                    "$ref": "#/components/examples/EventsExample-Future"
                  },
                  "EventsExample-PastMatch": {
                    "$ref": "#/components/examples/EventsExample-PastMatch"
                  },
                  "EventsExample-PastProp": {
                    "$ref": "#/components/examples/EventsExample-PastProp"
                  }
                }
              }
            },
            "description": "An array of events"
          },
          "400": {
            "description": "Invalid params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No Events found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Query failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/teams/": {
      "get": {
        "tags": [
          "Teams"
        ],
        "description": "Get a list of Teams by ID or league",
        "operationId": "getTeamIDs",
        "parameters": [
          {
            "name": "sportID",
            "in": "query",
            "required": false,
            "example": "BASKETBALL",
            "description": "A single sportID or comma-separated list of sportIDs to get Teams for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leagueID",
            "in": "query",
            "required": false,
            "example": "NBA",
            "description": "A single leagueID or comma-separated list of leagueIDs to get Teams for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamID",
            "in": "query",
            "required": false,
            "example": "BOSTON_CELTICS_NBA",
            "description": "A single teamID or comma-separated list of teamIDs to get data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": "30",
            "description": "The maximum number of Teams to return",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "example": "HOUSTON_ROCKETS_NBA",
            "description": "The cursor for the request. Used to get the next group of Teams. This should be the nextCursor from the prior response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "data": [
                    {
                      "$ref": "#/components/schemas/Team"
                    }
                  ]
                },
                "examples": {
                  "TeamsExample": {
                    "$ref": "#/components/examples/TeamsExample"
                  }
                }
              }
            },
            "description": "An example array of Teams"
          },
          "400": {
            "description": "Invalid params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No teams found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Query failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/players/": {
      "get": {
        "tags": [
          "Players"
        ],
        "description": "Get a list of Players for a specific Team or Event",
        "operationId": "getPlayers",
        "parameters": [
          {
            "name": "teamID",
            "in": "query",
            "required": false,
            "example": "KANSAS_CITY_CHIEFS_NFL",
            "description": "TeamID to get Players data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventID",
            "in": "query",
            "required": false,
            "example": "mXCZTRJnbX8ib64z1h3D",
            "description": "EventID to get Players data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playerID",
            "in": "query",
            "required": false,
            "example": "PATRICK_MAHOMES_SAN_FRANCISCO_49ERS_NFL",
            "description": "PlayerID to get data for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "data": [
                    {
                      "$ref": "#/components/schemas/Player"
                    }
                  ]
                },
                "examples": {
                  "PlayersExample": {
                    "$ref": "#/components/examples/PlayersExample"
                  }
                }
              }
            },
            "description": "An example list of Players"
          },
          "400": {
            "description": "Invalid params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No Players found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Query failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/leagues/": {
      "get": {
        "tags": [
          "Leagues"
        ],
        "description": "Get a list of LeagueIDs",
        "operationId": "getLeagueIDs",
        "parameters": [
          {
            "name": "sportID",
            "in": "query",
            "required": false,
            "example": "BASKETBALL",
            "description": "The sport to get leagues for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leagueID",
            "in": "query",
            "required": false,
            "example": "NBA",
            "description": "The league to get data for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "data": [
                    {
                      "$ref": "#/components/schemas/League"
                    }
                  ]
                },
                "examples": {
                  "LeaguesExample": {
                    "$ref": "#/components/examples/LeaguesExample"
                  }
                }
              }
            },
            "description": "An example array of Leagues"
          },
          "400": {
            "description": "Invalid params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/sports/": {
      "get": {
        "tags": [
          "Sports"
        ],
        "description": "Get a list of sportIDs",
        "operationId": "getSportIDs",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "data": [
                    {
                      "$ref": "#/components/schemas/Sport"
                    }
                  ]
                },
                "examples": {
                  "SportsExample": {
                    "$ref": "#/components/examples/SportsExample"
                  }
                }
              }
            },
            "description": "An example array of Sports"
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/stats/": {
      "get": {
        "tags": [
          "Stats"
        ],
        "description": "Get a list of StatIDs",
        "operationId": "getStatIDs",
        "parameters": [
          {
            "name": "statID",
            "in": "query",
            "required": false,
            "example": "POINTS",
            "description": "StatID to get data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sportID",
            "in": "query",
            "required": false,
            "example": "BASKETBALL",
            "description": "SportID to get StatIDs for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statLevel",
            "in": "query",
            "required": false,
            "example": "team",
            "description": "Level of the stat, must be used in combination with sportID. Must be one of all, player, or team. Shows stats that are applicable to that specified entity, defaults to all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stat"
                      }
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stat"
                      }
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No stats found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/account/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Get rate-limits and usage data about your API key",
        "operationId": "getUsageData",
        "responses": {
          "200": {
            "description": "Info on account (apiKey) usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountUsage"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountUsage"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/stream/events": {
      "get": {
        "description": "",
        "responses": {
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inactive API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An error message"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyParam": []
          },
          {
            "ApiKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "eventID": {
            "xml": {
              "name": "eventid"
            },
            "$ref": "#/components/schemas/EventID"
          },
          "sportID": {
            "xml": {
              "name": "sportid"
            },
            "$ref": "#/components/schemas/SportID"
          },
          "leagueID": {
            "xml": {
              "name": "leagueid"
            },
            "$ref": "#/components/schemas/LeagueID"
          },
          "type": {
            "xml": {
              "name": "eventtype"
            },
            "$ref": "#/components/schemas/EventType"
          },
          "status": {
            "xml": {
              "name": "eventstatus"
            },
            "$ref": "#/components/schemas/EventStatus"
          },
          "teams": {
            "type": "object",
            "properties": {
              "home": {
                "type": "object",
                "properties": {
                  "statEntityID": {
                    "type": "string",
                    "example": "home"
                  },
                  "score": {
                    "type": "number",
                    "example": 25
                  },
                  "names": {
                    "type": "object",
                    "properties": {
                      "short": {
                        "type": "string",
                        "example": "KC"
                      },
                      "medium": {
                        "type": "string",
                        "example": "Chiefs"
                      },
                      "long": {
                        "type": "string",
                        "example": "Kansas City Chiefs"
                      }
                    }
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "colors": {
                    "type": "object",
                    "properties": {
                      "primaryContrast": {
                        "type": "string",
                        "example": "#FFFFFF"
                      },
                      "primary": {
                        "type": "string",
                        "example": "#AA0114"
                      }
                    }
                  }
                }
              },
              "away": {
                "type": "object",
                "properties": {
                  "score": {
                    "type": "number",
                    "example": 22
                  },
                  "statEntityID": {
                    "type": "string",
                    "example": "away"
                  },
                  "names": {
                    "type": "object",
                    "properties": {
                      "short": {
                        "type": "string",
                        "example": "SF"
                      },
                      "medium": {
                        "type": "string",
                        "example": "SF 49ers"
                      },
                      "long": {
                        "type": "string",
                        "example": "San Francisco 49ers"
                      }
                    }
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "colors": {
                    "type": "object",
                    "properties": {
                      "secondary": {
                        "type": "string",
                        "example": "#B3995D"
                      },
                      "secondaryContrast": {
                        "type": "string",
                        "example": "#AA0000"
                      },
                      "primaryContrast": {
                        "type": "string",
                        "example": "#FFFFFF"
                      },
                      "primary": {
                        "type": "string",
                        "example": "#AA0000"
                      }
                    }
                  }
                }
              }
            }
          },
          "players": {
            "type": "object",
            "properties": {
              "TRAVIS_KELCE_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "TRAVIS_KELCE_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Travis Kelce"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "TRAVIS_KELCE_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Travis"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Kelce"
                  }
                }
              },
              "CLYDE_EDWARDSHELAIRE_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CLYDE_EDWARDSHELAIRE_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Clyde Edwards-Helaire"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CLYDE_EDWARDSHELAIRE_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Clyde"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Edwards-Helaire"
                  }
                }
              },
              "ISIAH_PACHECO_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "ISIAH_PACHECO_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Isiah Pacheco"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "ISIAH_PACHECO_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Isiah"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Pacheco"
                  }
                }
              },
              "RASHEE_RICE_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "RASHEE_RICE_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Rashee Rice"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "RASHEE_RICE_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Rashee"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Rice"
                  }
                }
              },
              "BROCK_PURDY_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "BROCK_PURDY_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Brock Purdy"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "BROCK_PURDY_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Brock"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Purdy"
                  }
                }
              },
              "SKYY_MOORE_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "SKYY_MOORE_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Skyy Moore"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "SKYY_MOORE_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Skyy"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Moore"
                  }
                }
              },
              "JERICK_MCKINNON_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JERICK_MCKINNON_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jerick McKinnon"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JERICK_MCKINNON_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Jerick"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "McKinnon"
                  }
                }
              },
              "PATRICK_MAHOMES_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "PATRICK_MAHOMES_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Patrick Mahomes"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "PATRICK_MAHOMES_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Patrick"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Mahomes"
                  }
                }
              },
              "BRANDON_AIYUK_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "BRANDON_AIYUK_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Brandon Aiyuk"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "BRANDON_AIYUK_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Brandon"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Aiyuk"
                  }
                }
              },
              "KYLE_JUSZCZYK_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "KYLE_JUSZCZYK_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Kyle Juszczyk"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "KYLE_JUSZCZYK_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Kyle"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Juszczyk"
                  }
                }
              },
              "NOAH_GRAY_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "NOAH_GRAY_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Noah Gray"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "NOAH_GRAY_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Noah"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Gray"
                  }
                }
              },
              "ELIJAH_MITCHELL_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "ELIJAH_MITCHELL_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Elijah Mitchell"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "ELIJAH_MITCHELL_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Elijah"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Mitchell"
                  }
                }
              },
              "JUSTIN_WATSON_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JUSTIN_WATSON_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Justin Watson"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JUSTIN_WATSON_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Justin"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Watson"
                  }
                }
              },
              "DEEBO_SAMUEL_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "DEEBO_SAMUEL_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Deebo Samuel"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "DEEBO_SAMUEL_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Deebo"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Samuel"
                  }
                }
              },
              "GEORGE_KITTLE_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "GEORGE_KITTLE_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "George Kittle"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "GEORGE_KITTLE_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "George"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Kittle"
                  }
                }
              },
              "MARQUEZ_VALDESSCANTLING_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "MARQUEZ_VALDESSCANTLING_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Marquez Valdes-Scantling"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "MARQUEZ_VALDESSCANTLING_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Marquez"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Valdes-Scantling"
                  }
                }
              },
              "HARRISON_BUTKER_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "HARRISON_BUTKER_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Harrison Butker"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "HARRISON_BUTKER_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Harrison"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Butker"
                  }
                }
              },
              "CHRISTIAN_MCCAFFREY_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CHRISTIAN_MCCAFFREY_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Christian McCaffrey"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CHRISTIAN_MCCAFFREY_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Christian"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "McCaffrey"
                  }
                }
              },
              "JAUAN_JENNINGS_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JAUAN_JENNINGS_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jauan Jennings"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JAUAN_JENNINGS_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Jauan"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Jennings"
                  }
                }
              },
              "RICHIE_JAMES_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "RICHIE_JAMES_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Richie James"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "RICHIE_JAMES_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Richie"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "James"
                  }
                }
              },
              "JAKE_MOODY_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JAKE_MOODY_1_NFL"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jake Moody"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JAKE_MOODY_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Jake"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Moody"
                  }
                }
              },
              "RAYRAY_MCCLOUD_III_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "RAYRAY_MCCLOUD_III_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "RAYRAY_MCCLOUD_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Ray-Ray"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "McCloud"
                  },
                  "name": {
                    "type": "string",
                    "example": "Ray-Ray McCloud III"
                  }
                }
              },
              "TOMMY_TOWNSEND_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "TOMMY_TOWNSEND_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "TOMMY_TOWNSEND_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Tommy"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Townsend"
                  },
                  "name": {
                    "type": "string",
                    "example": "Tommy Townsend"
                  }
                }
              },
              "NEIL_FARRELL_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "NEIL_FARRELL_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "NEIL_FARRELL_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Neil"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Farrell"
                  },
                  "name": {
                    "type": "string",
                    "example": "Neil Farrell Jr"
                  }
                }
              },
              "MICHAEL_DANNA_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "MICHAEL_DANNA_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "MICHAEL_DANNA_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Michael"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Danna"
                  },
                  "name": {
                    "type": "string",
                    "example": "Michael Danna"
                  }
                }
              },
              "LJARIUS_SNEED_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "LJARIUS_SNEED_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "LJARIUS_SNEED_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "L'Jarius"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Sneed"
                  },
                  "name": {
                    "type": "string",
                    "example": "L'Jarius Sneed"
                  }
                }
              },
              "JAVON_KINLAW_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JAVON_KINLAW_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JAVON_KINLAW_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Javon"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Kinlaw"
                  },
                  "name": {
                    "type": "string",
                    "example": "Javon Kinlaw"
                  }
                }
              },
              "OREN_BURKS_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "OREN_BURKS_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "OREN_BURKS_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Oren"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Burks"
                  },
                  "name": {
                    "type": "string",
                    "example": "Oren Burks"
                  }
                }
              },
              "CHASE_YOUNG_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CHASE_YOUNG_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CHASE_YOUNG_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Chase"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Young"
                  },
                  "name": {
                    "type": "string",
                    "example": "Chase Young"
                  }
                }
              },
              "FRED_WARNER_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "FRED_WARNER_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "FRED_WARNER_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Fred"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Warner"
                  },
                  "name": {
                    "type": "string",
                    "example": "Fred Warner"
                  }
                }
              },
              "WILLIE_GAY_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "WILLIE_GAY_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "WILLIE_GAY_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Willie"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Gay"
                  },
                  "name": {
                    "type": "string",
                    "example": "Willie Gay"
                  }
                }
              },
              "LEO_CHENAL_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "LEO_CHENAL_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "LEO_CHENAL_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Leo"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Chenal"
                  },
                  "name": {
                    "type": "string",
                    "example": "Leo Chenal"
                  }
                }
              },
              "CHRIS_JONES_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CHRIS_JONES_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CHRIS_JONES_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Chris"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Jones"
                  },
                  "name": {
                    "type": "string",
                    "example": "Chris Jones"
                  }
                }
              },
              "GEORGE_KARLAFTIS_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "GEORGE_KARLAFTIS_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "GEORGE_KARLAFTIS_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "George"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Karlaftis"
                  },
                  "name": {
                    "type": "string",
                    "example": "George Karlaftis"
                  }
                }
              },
              "MIKE_EDWARDS_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "MIKE_EDWARDS_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "MIKE_EDWARDS_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Mike"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Edwards"
                  },
                  "name": {
                    "type": "string",
                    "example": "Mike Edwards"
                  }
                }
              },
              "MALIK_HERRING_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "MALIK_HERRING_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "MALIK_HERRING_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Malik"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Herring"
                  },
                  "name": {
                    "type": "string",
                    "example": "Malik Herring"
                  }
                }
              },
              "JAVON_HARGRAVE_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JAVON_HARGRAVE_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JAVON_HARGRAVE_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Javon"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Hargrave"
                  },
                  "name": {
                    "type": "string",
                    "example": "Javon Hargrave"
                  }
                }
              },
              "LOGAN_RYAN_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "LOGAN_RYAN_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "LOGAN_RYAN_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Logan"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Ryan"
                  },
                  "name": {
                    "type": "string",
                    "example": "Logan Ryan"
                  }
                }
              },
              "NICK_BOLTON_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "NICK_BOLTON_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "NICK_BOLTON_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Nick"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Bolton"
                  },
                  "name": {
                    "type": "string",
                    "example": "Nick Bolton"
                  }
                }
              },
              "JOSHUA_WILLIAMS_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JOSHUA_WILLIAMS_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "JOSHUA_WILLIAMS_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Joshua"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Williams"
                  },
                  "name": {
                    "type": "string",
                    "example": "Joshua Williams"
                  }
                }
              },
              "CHARVARIUS_WARD_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CHARVARIUS_WARD_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CHARVARIUS_WARD_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Charvarius"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Ward"
                  },
                  "name": {
                    "type": "string",
                    "example": "Charvarius Ward"
                  }
                }
              },
              "CHRIS_CONLEY_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CHRIS_CONLEY_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "SAN_FRANCISCO_49ERS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CHRIS_CONLEY_SAN_FRANCISCO_49ERS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Chris"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Conley"
                  },
                  "name": {
                    "type": "string",
                    "example": "Chris Conley"
                  }
                }
              },
              "CHAMARRI_CONNER_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "CHAMARRI_CONNER_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "CHAMARRI_CONNER_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Chamarri"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Conner"
                  },
                  "name": {
                    "type": "string",
                    "example": "Chamarri Conner"
                  }
                }
              },
              "DRUE_TRANQUILL_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "DRUE_TRANQUILL_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "DRUE_TRANQUILL_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Drue"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Tranquill"
                  },
                  "name": {
                    "type": "string",
                    "example": "Drue Tranquill"
                  }
                }
              },
              "MECOLE_HARDMAN_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "MECOLE_HARDMAN_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
                  },
                  "alias": {
                    "type": "string",
                    "example": "MECOLE_HARDMAN_KANSAS_CITY_CHIEFS_NFL"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Mecole"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Hardman"
                  },
                  "name": {
                    "type": "string",
                    "example": "Mecole Hardman"
                  }
                }
              },
              "JUSTIN_REID_1_NFL": {
                "type": "object",
                "properties": {
                  "playerID": {
                    "type": "string",
                    "example": "JUSTIN_REID_1_NFL"
                  },
                  "teamID": {
                    "type": "string",
                    "example": "KANSAS_CITY_CHIEFS_NFL"
[...]
